@import "tailwindcss";

:root {
  --background: #FCF5EE;
  --foreground: #FCF5EE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF5EE;
    --foreground: #FCF5EE;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont1.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-lilac {
  font-family: "LilacFont", sans-serif;
}
