@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-lilac {
  font-family: "LilacFont", sans-serif;
}


/* ===== GLOBAL FADE UP ANIMATION ===== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}


.fade-up {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


