.section {
  background: #d9d5cc;
  padding: 120px 80px;
  max-width: 100%;
  margin: auto;
}


/* TITLE */

.heading {
  font-size: 42px;
  text-align: center;
  color: #1f3b2c;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #1f3b2c;
  padding-bottom: 10px;
}

/* ROW */

.row {
  border-bottom: 1px solid #1f3b2c;
  padding: 11px 350px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header h3 {
  font-size: 26px;
  color: #1f3b2c;
}

/* + / - icon */

.icon {
  font-size: 28px;
  color: #1f3b2c;
  font-weight: lighter;
  transition: transform 0.2s ease;
}

/* CONTENT */

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.50s ease;
}

.content p {
  margin-top: 15px;
  font-size: 20px;
  color: #1f3b2c;
  line-height: 1.6;
}

/* OPEN STATE */

.open {
  max-height: 200px;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .section {
    padding: 80px 30px;
  }

  .heading {
    font-size: 32px;
  }

  .header h3 {
    font-size: 20px;
  }
}
