@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}



.section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  background: #FFF2EB;
  padding: 120px 80px;
  gap: 60px;
}

/* LEFT IMAGE */

.imageWrap {
  height: 690px;
  width: 470px;
  overflow: hidden;
  margin-left: 80px;
  border-radius: 240px 240px 0 0;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT FAQ */

.faqWrap {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
}

.title {
  font-size: 52px;
  font-family: "LilacFont", sans-serif;
  color: black;
  margin-bottom: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

/* FAQ ITEM */

.faqItem {
  border-bottom: 1px solid black;
  font-family: "LilacFont", sans-serif;
  padding: 12px 0;
}

.questionRow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 28px;
  font-weight: 300;
  width: 40px;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.openIcon {
  transform: rotate(180deg);
}


.questionRow h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: "LilacFont", sans-serif;
  color: black;
}

/* ANSWER */

.answer {
  max-height: 0;
  overflow: hidden;
  font-family: "LilacFont", sans-serif;
  transition: all 0.50s ease;
}

.answer p {
  margin-top: 10px;
  font-size: 16px;
  font-family: "LilacFont", sans-serif;
  color: black;
}

.open {
  max-height: 120px;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
    padding: 80px 40px;
  }

  .title {
    font-size: 36px;
  }

  .questionRow h3 {
    font-size: 20px;
  }
}


/* ===== FAQ ENTRANCE ANIMATION ===== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

/* stagger timing */

.delay1 { animation-delay: 0.1s; }
.delay2 { animation-delay: 0.3s; }
.delay3 { animation-delay: 0.5s; }
.delay4 { animation-delay: 0.7s; }
.delay5 { animation-delay: 0.9s; }
