@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}

.heroTextWrapper {
  display: flex;
  flex-direction: column;
  transform: translateY(-100px);
  justify-content: center; /* vertical center */

  align-items: flex-start;
  margin-top: -150px;
  margin-right: -60px;
  margin-bottom: -80px;
  height: 100%;
}

@media (min-width: 768px) {
  .heroSection {
    grid-template-columns: 1fr 1fr;
  }
}

.heroImageWrapper img {
  height: 95%;
  object-fit: cover;
  transition: transform 0.90s ease;
}

.heroImageWrapper:hover img {
  transform: scale(1.05);
}

.heroTitle {
  font-size: 60px;
  font-weight: 600;
  color: #14532d;
  margin-bottom: 24px;
  font-family: "LilacFont", sans-serif;
  line-height: 1.1;
}

.heroText {
  color: #166534;
  margin-bottom: 32px;
  font-family: "LilacFont", sans-serif;
  margin-left: 32px;
  font-size: 20px;
}

.heroButton {
  border: 1px solid #14532d;
  font-size: 15px;
  padding: 12px 24px;
  background: transparent;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.heroButton:hover {
  background: #14532d;
  color: #fff;
}


/* ===== HERO ENTRANCE ANIMATION ===== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

/* stagger delays */

.delay1 { animation-delay: 0.1s; }
.delay2 { animation-delay: 0.3s; }
.delay3 { animation-delay: 0.5s; }
.delay4 { animation-delay: 0.7s; }
