@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 94vh;
  background: #d9d5cc; /* soft beige */
  align-items: center;
  margin-top: 180px;
}

/* LEFT SIDE TEXT */

.textWrapper {
  padding: 80px 90px;
  display: flex;
  margin-bottom: 190px;
  font-family: "LilacFont", sans-serif;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  height: 100%;
}

.title {
  font-size: 54px;
  font-weight: 600;
  color: #1f3b2c;
  font-family: "LilacFont", sans-serif;
  margin-bottom: 30px;
  line-height: 1.2;
  margin-left: -36px;
  margin-bottom: 20px;
}

.textWrapper p {
  font-size: 20px;
  color: #1f3b2c;
  font-family: "LilacFont", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -36px;
  line-height: 1.4;
}

/* BOTTOM BAR */

.bottomBar {
  margin-bottom: -320px;
  margin-top: 80px;
  border-top: 1px solid #1f3b2c;
  padding-top: 28px;
  margin-left: -36px;
  width: 100%;
}

/* BUTTON */

.button {
  width: 100%; 
  background: transparent;
  border: none;
  border-top: 1px solid #1f3b2c;
  font-family: "LilacFont", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;

  color: #1f3b2c;
  text-align: left;

  padding: 16px 0;
  cursor: pointer;

  transition: all 0.35s ease;
}

.button:hover {
  background: #173525;
  color: white;
  border-top-color: #1f3b2c;
  padding-left: 12px;
}

/* RIGHT IMAGE */

.imageWrapper {
  height: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
  }

  .textWrapper {
    padding: 60px 40px;
  }

  .title {
    font-size: 40px;
  }

  .imageWrapper {
    height: 400px;
  }
}
