@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}

/* LEFT SIDE TEXT */

.textWrapper p {
  font-size: 20px;
  color: #1f3b2c;
  font-family: "LilacFont", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -36px;
  line-height: 1.4;
}

/* BUTTON */

.button {
  width: 100%; 
  background: transparent;
  border-top: 1px solid #1f3b2c;
  font-family: "LilacFont", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;

  color: #1f3b2c;

  padding: 16px 0;
  cursor: pointer;

  transition: all 0.35s ease;
}

.button:hover {
  background: #173525;
  color: white;
  border-top-color: #1f3b2c;
  padding-left: 12px;
}

/* RIGHT IMAGE */

.imageWrapper {
  height: 100%;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
  }

  .textWrapper {
    padding: 60px 40px;
  }

  .title {
    font-size: 40px;
  }

  .imageWrapper {
    height: 400px;
  }
}
