@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
}

/* LEFT CORNER TITLE */

.title {
  position: absolute;
  font-family: "LilacFont", sans-serif;
  top: 12px;
  left: 50px;

  font-size: 36px;
  font-weight: 580;
  color: #14532d;
}

/* RIGHT CORNER LINKS */

.links {
  position: absolute;
  top: 16px;
  right: 50px;
  font-family: "LilacFont", sans-serif;
  font-size: 20px;
  color: #14532d;
}

.links a {
  margin-left: 32px;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}
