.navbar {
  position: relative;
  width: 100%;
  height: 80px;
}

/* LEFT CORNER TITLE */

.title {
  position: absolute;
  top: 12px;
  left: 50px;

  font-size: 32px;
  font-weight: 500;
  color: #14532d;
  font-family: 'Poppins', sans-serif;
}

/* RIGHT CORNER LINKS */

.links {
  position: absolute;
  top: 16px;
  right: 50px;

  font-size: 22px;
  color: #14532d;
}

.links a {
  margin-left: 32px;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.7;
}
