@font-face {
  font-family: "LilacFont";
  src: url("/fonts/MyFont.otf") format("opentype");
}


.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 120vh;
}

/* LEFT IMAGE */

.imageWrapper {
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RIGHT CONTENT */

.content {
  background: #d7d6df; /* soft lavender */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.content h2 {
  font-size: 52px;
  font-weight: bold;
  color: #1f3b2c;
  font-family: "LilacFont", sans-serif;
  margin-bottom: 40px;
  margin-top: 180px;
}

.subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  font-family: "LilacFont", sans-serif;
  color: #1f3b2c;
}

.content ul {
  margin-bottom: 30px;
  padding-left: 20px;
}

.content li {
  margin-bottom: 12px;
  font-family: "LilacFont", sans-serif;
  font-size: 18px;
  margin-left: 20px;
  color: #1f3b2c;
}

.footerText {
  margin-top: 40px;
  font-size: 20px;
  color: #1f3b2c;
  font-family: "LilacFont", sans-serif;
  margin-bottom: auto;
}

/* CTA BUTTON — divider line = border */

.cta {
  width: 100%;

  font-family: "LilacFont", sans-serif;
  border: none;
  border-top: 1px solid #1f3b2c;

  background: transparent;
  color: #1f3b2c;

  font-size: 16px;
  letter-spacing: 1px;  
  margin-top: auto;
  padding: 22px 0;
  cursor: pointer;

  transition: all 0.35s ease;
}

/* hover fill */

.cta:hover {
  background: #1f3b2c;
  color: white;
  padding-left: 12px;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 60px 40px;
  }

  .content h2 {
    font-size: 36px;
  }
}

/* ===== SUPPORT SECTION ENTRANCE ANIMATION ===== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

/* stagger timing */

.delay1 { animation-delay: 0.1s; }
.delay2 { animation-delay: 0.3s; }
.delay3 { animation-delay: 0.5s; }
.delay4 { animation-delay: 0.7s; }
.delay5 { animation-delay: 0.9s; }
.delay6 { animation-delay: 1.1s; }
